.project
.settings
.gitignore
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.dll.build
*.dll
*.log
.idea
*.bak
*.lnk

# Ignore .user and .suo files as these are user preference specific
# http://stackoverflow.com/questions/72298/should-i-add-the-visual-studio-suo-and-user-files-to-source-control
*.suo
*.user

*.VisualState.xml
*/*/obj
*/*/*/obj
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/*/obj
*/*/*/*/*/*/*/obj
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin
.vs/
addon-modules/
bin/Debug/*.dll
bin/*.dll.mdb
bin/*.db
bin/*.db-journal
bin/addin-db-*
bin/*.dll
bin/MutSea.vshost.exe.config
bin/MutSea.32BitLaunch.vshost.exe.config
bin/MutSea.32BitLaunch.log
UpgradeLog.XML
_UpgradeReport_Files/
bin/ScriptEngines/*-*-*-*-*
bin/ScriptEngines/*.dll
bin/ScriptEngines/*/*.dll
bin/ScriptEngines/*/*.state
bin/ScriptEngines/Yengine/*
bin/*.maddin
bin/*.exe
bin/*.ini
bin/j2kDecodeCache
bin/Physics*
bin/Terrain*
bin/Regions/*
bin/UserAssets
bin/assetcache
bin/maptiles
bin/bakes
bin/MeshCache
bin/estate_settings.xml
bin/config-include/CenomeCache.ini
bin/config-include/FlotsamCache.ini
bin/config-include/GridCommon.ini
bin/config-include/StandaloneCommon.ini
bin/MutSea.Grid.AssetInventoryServer.log
bin/MutSea.Grid.AssetServer.log
bin/MutSea.Grid.GridServer.log
bin/MutSea.Grid.InventoryServer.log
bin/MutSea.Grid.MessagingServer.log
bin/MutSea.Grid.UserServer.log
bin/MutSea.log
bin/MutSeaStats.log
bin/Robust.log
bin/RobustStats.log
bin/MutSeaConsoleHistory.txt
bin/RobustConsoleHistory.txt
bin/*.Tests.log
bin/*.manifest
bin/crashes/
Examples/*.dll
MutSea.build
MutSea.sln
MutSea.userprefs
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TestResult.xml
cov/*
MutSea/MutSea.userprefs
MutSea/MutSea.usertasks
TAGS
*~
Makefile.local
bin/.version
compile.bat
MutSea/Data/Tests/test-results/
MutSea/Framework/Serialization/Tests/test-results/
MutSea/Framework/Servers/Tests/test-results/
MutSea/Framework/Tests/test-results/
MutSea/Region/ClientStack/Linden/Caps/test-results/
MutSea/Region/ClientStack/Linden/UDP/Tests/test-results/
MutSea/Region/CoreModules/test-results/
MutSea/Region/Framework/test-results/
MutSea/Region/OptionalModules/test-results/
MutSea/Region/Physics/BulletDotNETPlugin/
MutSea/Region/Physics/Manager/test-results/
MutSea/Region/Physics/OdePlugin/Tests/test-results/
MutSea/Region/ScriptEngine/test-results/
MutSea/Tests/Common/test-results/
MutSea/Tests/test-results/
test-results/
doc/html
doc/doxygen.error.log
bin/MutSea.ini

*.patch
